*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    background-color: #f7f8f9;
    box-shadow: 0 o 2px grey;
    position: sticky;
    top: 10%;
}

.navbar{
    display: flex;
    align-items: center;
    width: 1300px;
    margin: auto;
}

.navbar img{
    width: 90px;
    margin-left: 60px;
}

.navbar img:hover{
    cursor: pointer;
}

.select_country{
    width: 250px;
    margin-left: 70px;
}

.select i {
    font-size: 15px;
    transition: all 0.3s;
}

.select{
    width: 100%;
    padding: 10px 10px;
    background-color: #ffffff;
    border-radius: 6px ;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
}

.search_box{
    display: flex;
    margin-left: 30px;
}

.search_box i{
    background-color: black;
    color: white;
    padding: 14px ;
    font-size: 15px;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
}

.inp{
    padding: 10px;
    width: 400px;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 6px 0 0 6px;
}

.lang{
    margin: 20px;
    font-weight: bold;
    text-decoration: underline;
}

.lang:hover{
    cursor: pointer;
    text-decoration: none;
}

.sellin_page button {
    font-weight: bold;
    margin-left: 25px;
    border-style: solid ;
    border-width: 5px;
    border-top-color: #23e5db;
    border-left-color: #ffce32;
    border-right-color: #3a77ff;
    border-bottom-color: #3a77ff;
    font-size: 15px;
    cursor: pointer;
    padding: 6px 19px;
    border-radius: 30px;
    background-color: white;
    display: flex;
}