* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* ********* NAVBAR******** */

.header {
  background-color: #f7f8f9;
  box-shadow: 0 0 2px grey;
  position: sticky;
  top: 0%;
  z-index: 1;
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  margin: auto;
}

.navbar img {
  width: 90px;
  margin-left: 60px;
}

.navbar img:hover {
  cursor: pointer;
}

.select_country {
  width: 250px;
  margin-left: 50px;
}

.select {
  /* width: 100%; */
  padding: 10px 10px;
  background-color: #ffffff;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid black;
}

.search_box {
  display: flex;
  margin-left: 30px;
}

.search_box i {
  background-color: black;
  color: white;
  padding: 14px;
  font-size: 15px;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
}

.inp {
  padding: 10px;
  width: 400px;
  font-size: 15px;
  border: 2px solid black;
  border-radius: 6px 0 0 6px;
}

.lang {
  margin: 20px;
  font-weight: bold;
  text-decoration: underline;
  margin-left: 30px;
}

.lang:hover {
  cursor: pointer;
  text-decoration: none;
}

.selling_page button {
  font-weight: bold;
  margin-left: 15px;
  border-style: solid;
  border-width: 5px;
  border-top-color: #23e5db;
  border-left-color: #ffce32;
  border-right-color: #3a77ff;
  border-bottom-color: #3a77ff;
  font-size: 15px;
  cursor: pointer;
  padding: 6px 19px;
  border-radius: 30px;
  background-color: white;
  display: flex;
}

.Second_Container {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 1px 1px 60px grey;
  padding: 22px;
}

.list ul {
  display: flex;
  justify-content: space-around;
}

.list ul li {
  list-style: none;
  margin: 0 30px;
}

.list ul li:hover {
  color: #7aa4fe;
  cursor: pointer;
}

/* *******SLIDER******** */

.slider {
  width: 60%;
  margin: auto;
  margin-top: 35px;
  height: 100px;
  position: relative;
}

.slider:hover {
  cursor: pointer;
}

.slider img {
  width: 800px;
  position: relative;
  left: -3%;
  z-index: -1;
}

/* ****** CATEGORIES ******** */

.categories {
  margin: 50px 215px;
}

.pics {
  display: flex;
  height: 100px;
  margin-top: 10px;
  padding-left: 17px;
}

.pics:hover {
  cursor: pointer;
}

.text {
  display: flex;
}

.text div p {
  font-weight: bold;
  margin-top: 15px;
  padding-left: 52px;
}
#j-text {
  margin-left: 10px;
}
#a-text {
  margin-left: 18px;
}
#k-text {
  margin-right: 25px;
}

.text div p:hover {
  cursor: pointer;
  color: #3a77ff;
}

/* ****** PRODUCT CARDS ******* */

.prod {
  display: flex;
  width: 99%;
  margin: 15px 10px;
  justify-content: space-evenly;
}

.box {
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 0px 14px grey;
  transition: 2s;
  border: 3px groove black !important;
}
.box:hover {
  transform: scale(1.14);
  transition: 2s;
  box-shadow: 0px 0px 14px gray;
  cursor: pointer;
}

.box p {
  margin-top: 13px;
}

.rs {
  font-weight: bold;
}
.box img {
  width: 240px;
  height: 240px;
  border-radius: 9px 9px 0 0;
  border: 2px solid gray;
}
.address_data {
  margin: 13px 7px;
}
.prod-heading {
  margin: 25px 58px;
}

/* ***** LOAD BUTTON ****** */

.loadbtn {
  position: absolute;
  left: 45%;
  margin-top: 30px;
}

.loadbtn button {
  padding: 5px 10px;
  border: 3px solid black;
  border-radius: 7px;
  color: rgba(0, 47, 52, 0.8);
  white-space: nowrap;
}

.loadbtn button:hover {
  cursor: pointer;
  color: black;
}

/* ****** SLIDER2 ******* */

.slider2 {
  margin-top: 100px;
}

.slider2 img {
  border-radius: 8px;
  width: 100%;
}

/* ***** FOOTER ******* */

.main_footer {
  background-color: #ebeeef;
  padding: 10px 0 50px;
  border-top: 1px solid rgba(0, 47, 52, 0.2);
  font-size: small;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 96%;
  margin: auto;
}

.footer_box h3 {
  margin: 0 0 14px 0;
}

.footer_box p {
  color: rgba(0, 47, 52, 0.64);
  cursor: pointer;
  margin: 6px 0 4px 0;
}

.footer_box p:hover {
  color: black;
}
.icons {
  position: relative;
  left: 2%;
  width: 370px;
}

.final_footer {
  background-color: #002f34;
  width: 100%;
  padding: 17px;
}

.final_footer p {
  color: white;
  text-align: right;
  margin-right: 100px;
  font-size: small;
}

/* ******** MEDIA QUERIES ********* */

@media only screen and (max-width: 900px) {
  .header {
    width: 163%;
  }
  .Second_Container {
    background-color: #ffffff;
    width: 163%;
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 60px grey;
    padding: 22px;
  }

  .list ul {
    display: flex;
    justify-content: space-around;
  }

  .list ul li {
    list-style: none;
    margin: 0 30px;
  }

  .list ul li:hover {
    color: #7aa4fe;
    cursor: pointer;
  }

  .slider {
    width: 57%;
    margin: auto;
    margin-top: 35px;
    height: 100px;
    position: relative;
  }

  .slider:hover {
    cursor: pointer;
  }

  .slider img {
    width: 800px;
    position: relative;
    left: 25%;
    z-index: -1;
  }

  .categories {
    margin: 50px 265px;
  }

  .pics {
    display: flex;
    height: 100px;
    margin-top: 10px;
    padding-left: 17px;
  }

  .pics:hover {
    cursor: pointer;
  }

  .text {
    display: flex;
  }

  .text div p {
    font-weight: bold;
    margin-top: 15px;
    padding-left: 51px;
  }
  #j-text {
    margin-left: 12px;
  }
  #a-text {
    margin-left: 20px;
  }
  #k-text {
    margin-left: 17px;
  }

  .text div p:hover {
    cursor: pointer;
    color: #3a77ff;
  }

  .prod-heading {
    margin: 25px 95px;
  }

  .prod {
    display: flex;
    width: 160%;
    margin: 15px 10px;
    justify-content: space-evenly;
  }

  .box {
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 14px grey;
    transition: 2s;
    border: 3px groove black !important;
  }
  .box:hover {
    transform: scale(1.14);
    transition: 2s;
    box-shadow: 0px 0px 14px gray;
    cursor: pointer;
  }

  .box p {
    margin-top: 13px;
  }

  .rs {
    font-weight: bold;
  }
  .box img {
    width: 240px;
    height: 240px;
    border-radius: 9px 9px 0 0;
    border: 2px solid gray;
  }
  .address_data {
    margin: 13px 7px;
  }

  .loadbtn {
    position: absolute;
    left: 75%;
    margin-top: 30px;
    white-space: nowrap;
  }

  .slider2 {
    margin-top: 100px;
  }

  .slider2 img {
    border-radius: 8px;
    width: 160%;
  }

  .main_footer {
    background-color: #ebeeef;
    padding: 10px 0 50px 40px;
    border-top: 1px solid rgba(0, 47, 52, 0.2);
    font-size: small;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 155%;
    margin: auto;
  }

  .footer_box h3 {
    margin: 0 0 14px 0;
  }

  .footer_box p {
    color: rgba(0, 47, 52, 0.64);
    cursor: pointer;
    margin: 6px 0 4px 0;
  }

  .footer_box p:hover {
    color: black;
  }
  .icons {
    position: relative;
    left: 2%;
    width: 500px;
  }

  .final_footer {
    background-color: #002f34;
    width: 163%;
    padding: 17px;
  }

  .final_footer p {
    color: white;
    text-align: right;
    margin-right: 100px;
    font-size: small;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    width: 163%;
  }
  .Second_Container {
    background-color: #ffffff;
    width: 163%;
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 60px grey;
    padding: 22px;
  }

  .list ul {
    display: flex;
    justify-content: space-around;
  }

  .list ul li {
    list-style: none;
    margin: 0 30px;
  }

  .list ul li:hover {
    color: #7aa4fe;
    cursor: pointer;
  }

  .slider {
    width: 90%;
    margin: auto;
    margin-top: 35px;
    height: 100px;
    position: relative;
  }

  .slider:hover {
    cursor: pointer;
  }

  .slider img {
    width: 800px;
    position: relative;
    left: 25%;
    z-index: -1;
  }

  .categories {
    margin: 50px 160px;
  }

  .categories h2 {
    margin-left: 35px;
  }

  .pics {
    display: flex;
    height: 100px;
    margin-top: 10px;
    padding-left: 17px;
  }

  .pics:hover {
    cursor: pointer;
  }

  .text {
    display: flex;
  }

  .text div p {
    font-weight: bold;
    margin-top: 15px;
    padding-left: 51px;
  }
  #j-text {
    margin-left: 13px;
  }
  #a-text {
    margin-left: 21px;
  }
  #k-text {
    margin-left: 20px;
  }

  .text div p:hover {
    cursor: pointer;
    color: #3a77ff;
  }

  .prod-heading {
    margin: 25px 60px;
  }

  .prod {
    display: flex;
    width: 160%;
    margin: 15px 10px;
    justify-content: space-evenly;
  }

  .box {
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 14px grey;
    transition: 2s;
    border: 3px groove black !important;
  }
  .box:hover {
    transform: scale(1.14);
    transition: 2s;
    box-shadow: 0px 0px 14px gray;
    cursor: pointer;
  }

  .box p {
    margin-top: 13px;
  }

  .rs {
    font-weight: bold;
  }
  .box img {
    width: 240px;
    height: 240px;
    border-radius: 9px 9px 0 0;
    border: 2px solid gray;
  }
  .address_data {
    margin: 13px 7px;
  }

  .loadbtn {
    position: absolute;
    left: 75%;
    margin-top: 30px;
    white-space: nowrap;
  }

  .slider2 {
    margin-top: 100px;
  }

  .slider2 img {
    border-radius: 8px;
    width: 160%;
  }

  .main_footer {
    background-color: #ebeeef;
    padding: 10px 0 50px 40px;
    border-top: 1px solid rgba(0, 47, 52, 0.2);
    font-size: small;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 160%;
    margin: auto;
  }

  .footer_box h3 {
    margin: 10px 10px 14px 0;
  }

  .footer_box p {
    color: rgba(0, 47, 52, 0.64);
    cursor: pointer;
    margin: 6px 0 4px 0;
    white-space: nowrap;
  }

  .footer_box p:hover {
    color: black;
  }
  .icons {
    position: relative;
    left: 2%;
    width: 500px;
  }

  .final_footer {
    background-color: #002f34;
    width: 163%;
    padding: 17px;
  }

  .final_footer p {
    color: white;
    text-align: right;
    margin-right: 100px;
    font-size: small;
  }
}

@media only screen and (max-width: 576px) {
  .header {
    width: 235%;
  }
  .Second_Container {
    background-color: #ffffff;
    width: 235%;
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 60px grey;
    padding: 22px;
  }

  .list ul {
    display: flex;
    justify-content: space-around;
  }

  .list ul li {
    list-style: none;
    margin: 0 30px;
    white-space: nowrap;
  }

  .list ul li:hover {
    color: #7aa4fe;
    cursor: pointer;
  }

  .slider {
    width: 90%;
    margin: auto;
    margin-top: 35px;
    height: 100px;
    position: relative;
  }

  .slider:hover {
    cursor: pointer;
  }

  .slider img {
    width: 800px;
    position: relative;
    left: 25%;
    z-index: -1;
  }

  .categories {
    margin: 50px 100px;
  }

  /* .categories h2 {
    margin-left: 4px;
    font-size: 1.1rem;
  } */

  .pics {
    display: flex;
    height: 100px;
    margin-top: 10px;
    padding-left: 17px;
  }

  .pics:hover {
    cursor: pointer;
  }

  .text {
    display: flex;
  }

  .text div p {
    font-weight: bold;
    margin-top: 15px;
    padding-left: 51px;
  }
  #j-text {
    margin-left: 14px;
  }
  #a-text {
    margin-left: 20px;
  }
  #k-text {
    margin-left: 20px;
  }

  .text div p:hover {
    cursor: pointer;
    color: #3a77ff;
  }

  .prod-heading {
    margin: 25px 70px;
  }

  .prod {
    display: flex;
    width: 160%;
    margin: 15px 60px;
    flex-wrap: nowrap;
  }

  .box {
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 14px grey;
    transition: 2s;
    border: 2px groove black !important;
    margin-left: 10px;
  }
  .box:hover {
    transform: scale(1.1);
    transition: 2s;
    box-shadow: 0px 0px 14px gray;
    cursor: pointer;
  }

  .box p {
    margin-top: 13px;
  }

  .rs {
    font-weight: bold;
  }
  .box img {
    width: 220px;
    height: 220px;
    border-radius: 9px 9px 0 0;
    border: 2px solid gray;
  }
  .address_data {
    margin: 13px 7px;
  }

  .loadbtn {
    position: absolute;
    left: 110%;
    margin-top: 30px;
    white-space: nowrap;
  }

  .slider2 {
    margin-top: 100px;
  }

  .slider2 img {
    border-radius: 8px;
    width: 200%;
  }

  .main_footer {
    background-color: #ebeeef;
    padding: 10px 0 50px 40px;
    border-top: 1px solid rgba(0, 47, 52, 0.2);
    font-size: smaller;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 230%;
    margin: auto;
  }

  .footer_box h3 {
    margin: 10px 10px 14px 0;
    font-size: small;
    white-space: nowrap;
  }

  .footer_box p {
    color: rgba(0, 47, 52, 0.64);
    cursor: pointer;
    margin: 6px 0 4px 0;
    white-space: nowrap;
  }

  .footer_box p:hover {
    color: black;
  }
  .icons {
    position: relative;
    left: 3%;
    width: 500px;
  }

  .final_footer {
    background-color: #002f34;
    width: 244%;
    padding: 17px;
  }

  .final_footer p {
    color: white;
    text-align: right;
    margin-right: 100px;
    font-size: small;
  }
}
